<ion-header>
  <ion-navbar>
    <ion-title>New Post</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label stacked>Title</ion-label>
    <ion-input [(ngModel)]="eventName" type="text" placeholder="Title?"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Caption</ion-label>
    <ion-input [(ngModel)]="eventCaption" type="text" placeholder="Caption"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Hashtags</ion-label>
    <ion-input [(ngModel)]="eventHashtags" type="text" placeholder="Hashtags"></ion-input>
  </ion-item>

<ion-item>
         <button ion-button color="primary" block (click)="takePicture()">
          Take a Picture
        </button>
</ion-item>
<img [src]="postPicture"  *ngIf="postPicture"/>

  <button ion-button block (click)="createEvent(eventName, eventCaption, eventHashtags)" *ngIf="postPicture">
    Create Event
  </button>
</ion-content>
